body{
background:#f5f7fb;
font-family:Arial,sans-serif;
}

h1{
font-weight:bold;
}

.card{

transition:.4s;

border:none;

border-radius:15px;

overflow:hidden;

}

.card:hover{

transform:translateY(-10px);

box-shadow:0 10px 30px rgba(0,0,0,.2);

}

.card img{

height:220px;

object-fit:cover;

}

.btn{

width:100%;

border-radius:30px;

}

footer{

margin-top:50px;

}